<!DOCTYPE html>
<html lang="en"  style="font-size:16px">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	<title>汽车风云</title>
</head>

<body>
	<div id="app" style="height: 100%;">
		<router-view></router-view>
	</div>
	<script>
		function htmlFontSize(){
			var htmlFontSize = document.getElementsByTagName('html')[0];
			htmlFontSize.style.fontSize = window.innerWidth/23.4375 + "px";
		}
		htmlFontSize();
		window.addEventListener('resize',htmlFontSize);
	</script>
</body>

</html>
